.browser-iframe {
    width: 100%;
    height: 100%;
}

.browser-crm-container {
    position: absolute;
    left: .6rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.browser-crm {
    padding: 0;
    gap: 0.5rem;
    width: auto;
    height: auto;
}

.browser-crm button {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
}

.browser-topbar {
    padding-left: 5rem;
}

.browser-right {
    width: 600px;
}

.browser-url {
    width: 100%;
    background-color: var(--explorer);
    border: 1px solid #949494;
    color: var(--explorer-aside-text);
    font-family: "Fira Sans", sans-serif;
    user-select: text;
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 15px;
}

.browser-try-button {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    user-select: none;
    padding: .4rem;
    border-radius: 5px;
    font-weight: 400;
    color: var(--explorer-aside-text);
    background-color: var(--explorer);
    border: 1px solid #949494;
    cursor: pointer;
    margin-top: 1rem;
}

.browser-try-button:hover {
    background-color: var(--hover);
}

@media screen and (max-width: 500px) {
    .browser-crm-container {
        display: none;
    }

    .browser-topbar {
        padding: 0;
    }

    .explorer-content-topbar-right {
        margin-left: 1rem;
    }

    .browser-url {
        width: 100%;
        background-color: var(--fg);
        border: 1px solid #949494;
        color: var(--explorer-aside-text);
        font-family: "Fira Sans", sans-serif;
        user-select: text;
        padding: .5rem;
        margin-right: 1rem;
        border-radius: 15px;
    }

    .browser-try-button {
        font-family: "Fira Sans", sans-serif;
        text-align: center;
        user-select: none;
        padding: .4rem;
        border-radius: 5px;
        font-weight: 400;
        width: 100%;
        color: var(--fg);
        background-color: var(--explorer-aside-text);
        border: 1px solid #949494;
        cursor: pointer;
        margin-top: 1rem;
    }
    .browser-frame-container{
        padding: 0 !important;
    }
}