.loading-screen {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--fg);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade ease 500ms 1.5s forwards;
}

.load-bar {
    width: 30rem;
    height: 15px;
    border: var(--bg) 1px solid;
    border-radius: 35px;
}

.load-content {
    position: relative;
    background-color: var(--explorer-aside-text);
    width: 0%;
    animation: load ease 1.5s;
    height: 100%;
}

.load-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: -5rem;
}

.load-logo {
    fill: var(--explorer-aside-text);
    width: 200px;
    display: block;
    /* avoids inline SVG quirks */
}

.load-logo-element {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    transform: translateX(1rem);
}

@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 90%;
    }

    90% {
        width: 95%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (min-width: 300px) {
    .load-bar {
        width: 20rem;
    }

    .load-logo {
        width: 10rem;
    }
}