@import url("https://use.typekit.net/wlu0pug.css");
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar { 
    display: none;
}

html{    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #030100;
    height: 100%
}

body{
    color: aliceblue;
    min-height: 100%

}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px;
    transition: max-height 1s ease-in-out;
}

.title-container{
    padding-top: 250px;
    padding-bottom: 350px;
    width: 100%;
}
.title-container h1{
    position: absolute;
}
.scroll-button-container{
    rotate: 90deg;
    position: relative;
    display: inline-block;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll-button{
    cursor: pointer;
    animation: fade-in 500ms ease-in-out 500ms forwards;
    opacity: 0;
    transform: scale(100%);
    transition: 50ms ease-out transform;
}
.scroll-button:hover{
    transform: scale(125%);
}

video{
    cursor: pointer;
}

h1{
    user-select: none;
    color: aliceblue;
    font-size: 128pt;
    font-family: "sztos-variable",sans-serif;
    font-variation-settings: 'wght' 593, 'wdth' 136;
}

h1 a{
    color: aliceblue;
    text-decoration: none;
}

h2{
    color: aliceblue;
    font-size: 52pt;
    font-family: "sztos-variable",sans-serif;
    font-variation-settings: 'wght' 593, 'wdth' 120;
    font-kerning: 100pt;
}

p{
    color: aliceblue;
    font-family: "sztos-variable",sans-serif;
    font-size: 19pt;
    font-variation-settings: 'wght' 160, 'wdth' 270;
}

.degree-progress{
    justify-content: left;
    display: flex;
    flex-direction: row;
    border: aliceblue 2px solid;
    height: 20px;
    margin-top: 10px;
}

#percentage{
    position: absolute;
    color: aliceblue;
    mix-blend-mode: difference;
    font-size: 12pt;
}

.degree-progress-bar{
    background-color: aliceblue;
    width: 0;
    transition: width .5s ease-in-out;
}

.content-container{
    background-color: aliceblue;
    width: 100%;
}

.content-container > *{
    padding: 20px 150px 20px 150px;
}

.content-container h2{
    padding-top: 50px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    gap: 50px;
    display: flex;
    flex-direction: row;
}

.right{
    padding-top: 5rem;
    max-width: 60%;
}


.bloque-texto{
    background-color: #030100;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.bloque-texto:not(.degree-progress){
    padding: 50px;
    max-width: 80%;
    color: aliceblue;
}

.right .bloque-texto:not(:first-child){
    margin-top: 5rem;
}
.left .bloque-texto:not(:first-child){
    margin-top: 10rem;
}
.text-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.text-container::-webkit-scrollbar { 
    display: none;
}

html{    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #030100;
}

.photo-gallery{
    display: flex;
    gap: 20px;
}

.collumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo *{
    width: 100%;
}

.sound-button{
    position: absolute;
    padding: 15px; 
    height: 15px;
    width: fit-content;
    mix-blend-mode:difference;
}

.element{
    object-fit: cover;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}


.image{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: inline-block;
    border-radius: 5px;
}
.image:hover{
    animation: pre-focus 200ms ease-in-out alternate both;
    cursor: pointer;
    box-shadow: 0px 0px 15px 15px white;
}

strong{
    
    font-variation-settings: 'wght' 200, 'wdth' 270;
}

.close{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: right;
    cursor: pointer;
    font-size: 18pt;
    font-family: "sztos-variable",sans-serif;
    font-variation-settings: 'wght' 593, 'wdth' 136;
}

.footer{
    background-color: #f0f8ff;
    height: 60px;
}
.footer p{
    text-align: center;
    padding: 21px 0;
    color: #030100;
    font-size: 12pt;
}

.topnav{
    padding: 20px 10px 0px 0px;
    position: relative;
    display: flex;
    justify-content: right;
}
.topnav a{
    padding: 10px;
    font-family: "sztos-variable",sans-serif;
    font-variation-settings: 'wght' 232, 'wdth' 150;
    color: aliceblue;
    text-decoration: none;
    transition: 50ms ease-out transform;
}
.topnav a:hover{
    transform: scale(115%);
}

ul{
    font-size: 14pt;
    list-style-type: circle;
    list-style-position: inside;
    text-decoration: none;
    font-family: "sztos-variable",sans-serif;
}
@keyframes pre-focus {
    from {transform: scale(100%);}
    to {transform: scale(105%);}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }
    .gallery-exp{
        flex-direction: row;
        justify-content: center;
    }
    #arts .image{
        width: 200px;
        height: auto;
        margin-bottom: 0;
    }
    .text-container{
        height: 250px;
        width: 100%;
        flex-direction: column;
    }
    .text-info:nth-child(2){
        margin-top: 0;
    }
    .info-container{
        left: 2%;
        top: 0;
        transform: translate(0%, 0%);
        width: 300px;
        
    }
    .container{
        padding: 0;
    }
    h1{
        font-size: 50pt;
    }
    h2{
        font-size: 42pt;
    }
    .title-container{
        padding-top: 150px;
    }
    .info-container p{
        width: 100%;
    }
    .bloque-texto{
        flex-direction: column;
        gap: 20px;
    }
    .bloque-texto p{
        text-align: justify;
        font-size: 12pt;
    }
    .flex-row{
        flex-direction: column;
    }
    .bloque-texto:not(.degree-progress){
        padding: 35px;
    }
    .content-container{
        height: 200vh;
    }
    .content-container > *{
        padding: 20px;
    }
    #percentage{
        transform: translate(350%, 35%);
    }

    .left .bloque-texto:not(:first-child){
        margin-top: 15rem;
    }.right .bloque-texto:not(:first-child){
        margin-top: 10rem;
    }
    .left{
        right: 3rem;
        position: absolute;
        max-width: 50%;
    }
    .left p{
        text-align: right;
    }
    .right{
        max-width: 90%;
        padding-top: 7rem;
        position: absolute;
    }

    ul{
        font-size: 12pt;
        line-height: 18pt;
    }
    .footer p{
        font-size: 9pt;
    }
    .degree-progress{
        height: 30px;
    }
    .sound-button{
        translate: -17rem; 
    }
}