@font-face {
	font-family: Williesh;
	src: url(fonts/Williesh.ttf);
  }
  @font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans-SemiBold.ttf);
  }
*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body	{
			background: #E5EBEA;
			font-family: OpenSans, Helvetica, sans-serif;
			overflow-x: hidden;
}

.titleAllign {
	position: fixed;
	width: 100%;
	font-size: 1.53vw;
	font-family: Williesh;
	z-index: 4;
	background-color: #E5EBEA;
}

@keyframes titleMove {
	0% {transform: translateX(0vw);}
	49% {transform: translateX(100vw);}
	50% {transform: scale(0);}
	51% {transform: translateX(-100vw);}
}

@keyframes titleMove2 {
	0% {transform: translateX(-100vw);}
	49% {transform: translateX(0vw);}
	98% {transform: translateX(100vw);}
	99% {transform: scale(0);}
	100% {transform: translateX(-100vw);}
}

.title	{
	color: #0D1821;
	position: absolute;
	animation: titleMove 12s linear infinite;
}

.title2	{
	color: #0D1821;
	position: relative;
	left: -2.5vw;
	animation: titleMove2 12s linear infinite;
}

.topAnim img {
		position: absolute;
		width: 100%;
		top: -7vh;
		z-index: 0;
}

		@keyframes rotate {
			0% {transform: rotate(0deg);}
			100% {transform: rotate(360deg);}
		}
			.topAnim_C{
			border-radius: 100%;
			scale: 40%;
			animation: rotate 5s linear infinite;
			}

			.topAnim_Arts{
			border-radius: 100%;
			scale: 40%;
			animation: rotate 3s linear infinite reverse;
			}
			.topAnim_O{
			border-radius: 100%;
			scale: 80%;
			animation: rotate 10s linear infinite;
			}
.notch {
	position: fixed;
	top: -50vw;
	left: 19%;
	z-index: 1;
	background-color: #E5EBEA;
	width: 60vw;
	height: 60vw;
	border-radius: 3%;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}


nav	{	
	position: fixed;
	top: 5vw;
	left: 20%;
	z-index: 1;
}

		nav ul li{
			font-size: clamp(12px, 2.8vw, 2.4rem);
			float: left;
			list-style: none;
			margin-right: 1.5vw;
		}

		nav ul li a{
			display: grid;
			border-radius: 20px;
			text-decoration: none;
			color:#0D1821;
			text-align:	center;
		}
		nav ul li a:hover {
			transition: ease-out 0.1s;
			background-color: #0D1821;
			color: #E5EBEA;
			animation: navAnim 10s;
		}

@keyframes exploreAnim {
	0% {transform: scale(100%);}
	10% {transform: scale(75%);}
	20% {transform: scale(100%);}
}

.explore {
	position: relative;
	top: 85vh;
	left: 44.5vw;
	width: fit-content;
	z-index: 1;
	background-color: #E5EBEA;
	padding: 0.7%;
	border-radius: 25px;
	
}
.explore a {
	text-decoration: none;
	color: #0D1821;
	font-size: clamp(12px, 2.8vw, 2.4rem);
}

.explore:hover {
	filter: invert();
	animation: exploreAnim 10s infinite;
}


.contenido{
	position: relative;
	top: 90vh;
	z-index: 2;
	background-color: #E5EBEA;
}


.card {
	position: sticky;
	top: 0;
	height: 100vh;
	background-color: #E5EBEA;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}	

.contenido article{
	color: #0D1821;
	top: 10vh;
	left: 2vw;
	position: relative;
	float: left;
}


.contenido h2 {
	font-size: 5vw;
	text-align: left;
	padding-left: 0.5rem;
	box-sizing: border-box;
	margin-left: 2vw;
}
.contenido p {
	margin-left: 2vw;
	margin-top: 2vh;
	padding: .5rem;
	font-size: clamp(12px, 3vw, 2.1vw);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: left;
}
.hidden {
	opacity: 0;
	transition: 1s;
}
.hidden2 {
	opacity: 0;
	transition: ease 2s;
}
.show {
	opacity: 1;
}
@keyframes nextAnim {
	0% {transform: translate();}
	50% {transform: translateY(4vh);}

}

.next a {
	z-index: 4;
	position: relative;
	right: -40vw;
	bottom: -75vh;
}
.next img {
	scale: 50%;
	animation: nextAnim 5s infinite;
}
.next img:hover {
	transform: translateY(4vh);
}
#equipo .next img {
	filter: invert();
}
#contacto .next img {
	position: relative;
	left: -3vw;
	bottom: 10vh;
	filter: invert();
	rotate: 180deg;

}

#contacto .next p a{
	right: -28vw;
	bottom: -90vh;
	font-size: 2rem;
}
.slider-wrapper {
	left: 5vw;
	top: -10vh;
	display: flex;
	overflow-x: auto;
	padding: 3rem;
	position: relative;
	width: 38vw;
}

.slider {
	aspect-ratio: 1/1;
	position: relative;
	display: flex;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	
}
.slider video {
	left: 0;
	position: sticky;
	object-fit: cover;
	border-radius: 0.5rem;
	flex: 1 0 100%;
	scroll-snap-align: center;
}
.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}
.slider-nav a {
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;		
	background-color: #7D8491;
	opacity: .75;
	transition: opacity ease 250ms;
}
.slider-nav a:hover {
	opacity: 100%;
}
#equipo{
	background-color: #7D8491;
}
#equipo article {
	color: #E5EBEA;
	top: 12vh;

}
#contacto { 
	background-color: #3F334D;
	
}
#contacto h2 {
	margin-bottom: 12vh;
	color: #E5EBEA;
}
#contacto a {
	position: relative;
	margin-left: 4vw;
	font-size: 3vw;
	text-decoration: none;
	color: #E5EBEA;
	text-transform: uppercase;

}	

footer{
			position: relative;
			bottom: -90vh;
			background: #7D8491;
			color: #E5EBEA;
			text-align: center;
			line-height: 50px;
			z-index: 4;
}